#home {
  background-color: #EDF2F4;
  color: black;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.social-buttons{
  display: flex;
  justify-content: center;
}

.internal-links{
  display: flex;
  justify-content: center;
  p{
    margin-left: 10px;
  }
}
