---
title: Le Wagon - Middleman
---

<div class="navbar-wagon">

  <div class="navbar-logo">
    <div class="logo">
      <p> Thanh-an Huynh.</p>
    </div>
  </div>

  <div class="navbar-text">
    <div class="work-navbar">
      <p>Work</p>
    </div>
    <div class="about-navbar">
      <p>About</p>
    </div>
    <div class="contact-navbar">
      <p>Contact me</p>
    </div>
  </div>

</div>

<div id="home">
  <div class="home-content">
    <p>Hi! I'm An (or Thanh-an),</p>
    <p>I am a Front-end Developer</p>
    <p> & I love food</p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
