<div id="home">
  <div class="home-content">
    <h1>ABOUT</h1>
    <span>Agents of Change is a constantly evolving new way of doing things (opposed to the old way). Simply put, doing things better differently.</span>
    <p>Years of direct-to-client as well as advertising agency experience blended with social awareness have helped us to forge a new type of content creation platform altogether. An agile, modular, integrated agency model revolutionizing the way content is being created in todayʼs fast pace advertising landscape.
    With creative and production under one roof we are a progressive and sustainable resource for ethical and responsible commercial advertising, re-investing all our profits to fund environmental and social initiatives.</p>
    <span>There is no smarter and more responsible way to create advertising today!</span>
    <span>Wanna know why?</span> <a href="#">Get in touch</a> .
  </div>
</div>
  <div class="my-footer">
    <div class="internal-links">
      <p> AGENTS OF CHANGE 2018 </p>
      <p> ABOUT </p>
      <p> BECOME AN AGENT </p>
      <p> OUR .ORG </p>
    </div>
  </div>
