<div id="home">
  <div class="home-content">
    <h1>AGENTS OF CHANGE ™</h1>
    <h4>Doing it <del>better</del> different and doing good</h4>
    <p>A not-for-profit content creation collective and integrated agency built around the responsible consumer of tomorrow, servicing ethicallysound brands, governments and organizations that are invested in the health of the people and our planet.</p>
    <h3>London +44 20 8962 9652</h3>
    <h3>Biarritz +33 5 59 31 66 12</h3>
    <h3>info@weareagentsofchange.org</h3>
    <h2> SERVICES</h2>
    <p>advertising, content strategy, creative, photographic services and video production</p>
  </div>
</div>
  <div class="my-footer">
    <div class="social-buttons">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="internal-links">
      <p> AGENTS OF CHANGE 2018 </p>
      <p> ABOUT </p>
      <p> BECOME AN AGENT </p>
      <p> OUR .ORG </p>
    </div>
  </div>

